@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SavvySaver</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend elit elementum molestie varius.
        Suspendisse potenti. Nulla elementum luctus turpis vel maximus.
        Aliquam sagittis odio vel mauris scelerisque, vel vestibulum metus egestas.
        Suspendisse volutpat, lacus imperdiet dignissim malesuada, quam enim iaculis lectus, nec cursus lectus justo at eros.
        Maecenas sit amet euismod erat. Sed rhoncus sem ut felis suscipit, at mattis dolor gravida.
        Aliquam varius ipsum odio, porttitor imperdiet tellus vestibulum eget. Donec ac nibh in lorem suscipit aliquam.
        Morbi non nibh justo.
    </p>
</div>


