@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SavvySaver</h1>
</div>

<div class="home-container">
<div class="row row-cols-1 row-cols-md-3 g-4" style="margin-bottom: 15px">
    <div class="col">
        <div class="card h-100">
            <img src="img/cards/money1.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary"><a href="">Go to ...</a></small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="img/cards/money2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary"><a href="">Go to ...</a></small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="img/cards/money3.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary"><a href="">Go to ...</a></small>
            </div>
        </div>
    </div>
</div>
</div>


<div class="text-center">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend elit elementum molestie varius.
        Suspendisse potenti. Nulla elementum luctus turpis vel maximus.
        Aliquam sagittis odio vel mauris scelerisque, vel vestibulum metus egestas.
        Suspendisse volutpat, lacus imperdiet dignissim malesuada, quam enim iaculis lectus, nec cursus lectus justo at eros.
        Maecenas sit amet euismod erat. Sed rhoncus sem ut felis suscipit, at mattis dolor gravida.
        Aliquam varius ipsum odio, porttitor imperdiet tellus vestibulum eget. Donec ac nibh in lorem suscipit aliquam.
        Morbi non nibh justo.
    </p>
</div>


