@{
    ViewData["Title"] = "Modules";
}


<div class="module_component_container">
    <div class="module_page_header">
        <h2>First Time Buyer</h2>
        <h4>Gain the confidence needed to make the huge step in becoming a home owner!</h4>
    </div>

</div>




<div class="module_container">
    <div class="topic">



        </div>

    </div>
</div>

