@{
    ViewData["Title"] = "Modules";
}

<div class="text-center">
    <h1>Modules</h1>
    <h2>Find the modules that suit your needs</h2>
</div>

<div class="module_container">
    <div class="topic">
        <div class="topic_header">
            <h3>Mortgages</h3>
            <p class="topic_header_tag">Understand mortgages like a proffesional</p>
        </div>
        <div class="modules">
            <a class="module" asp-controller="Home" asp-action="module" style="text-decoration:none">
                <div class="module_icon">
                    <img src="/img/home.png" class="module_img"></img>
             </div>
             <div class="module_body">
                <h4 class="module_title">First Time Buyer</h4>
                <p>lorem lorem loremlorem loremlorem lorem lorem lorem</p>
            </div>
        </a>

            <div class="module">
                <div class="module_icon">
                    <img src="/img/home.png" class="module_img"></img>
                </div>
                <div class="module_body">
                    <h4 class="module_title">buy to let</h4> 
                    <p>This module will let you understand the concepts and nuiances of "" Click here to begin!</p>
                </div>
            </div>

            <div class="module">
                <div class="module_icon">
                    <img src="/img/home.png" class="module_img"></img>
                </div>
                <div class="module_body">
                    <h4 class="module_title">buy to let</h4> help to buy //part ownership
                    <p>This module will let you understand the concepts and nuiances of "" Click here to begin!</p>
                </div>
            </div>

            <div class="module">
                <div class="module_icon">
                    <img src="/img/home.png" class="module_img"></img>
                </div>
                <div class="module_body">
                    <h4 class="module_title">part ownership</h4> part ownership
                    <p>This module will let you understand the concepts and nuiances of "" Click here to begin!</p>
                </div>
            </div>

            

       </div>

    </div>

    <div class="topic">
        <div class="topic_header">
            <h3>Pensions</h3>
            <p class="topic_header_tag">Understand mortgages like a proffesional</p>
        </div>
        <div class="modules">
            <div class="module">
                <div class="module_icon">
                    <img src="/img/home.png" class="module_img"></img>
                </div>
                <div class="module_body">
                    <h4 class="module_title">First Time Buyer</h4>
                    <p>lorem lorem loremlorem loremlorem lorem lorem lorem</p>
                </div>
            </div>

            <div class="module">
                <div class="module_icon">
                    <img src="/img/home.png" class="module_img"></img>
                </div>
                <div class="module_body">
                    <h4 class="module_title">buy to let</h4>
                    <p>This module will let you understand the concepts and nuiances of "" Click here to begin!</p>
                </div>
            </div>

            <div class="module">
                <div class="module_icon">
                    <img src="/img/home.png" class="module_img"></img>
                </div>
                <div class="module_body">
                    <h4 class="module_title">buy to let</h4> help to buy //part ownership
                    <p>This module will let you understand the concepts and nuiances of "" Click here to begin!</p>
                </div>
            </div>

            <div class="module">
                <div class="module_icon">
                    <img src="/img/home.png" class="module_img"></img>
                </div>
                <div class="module_body">
                    <h4 class="module_title">part ownership</h4> 
                    <p>This module will let you understand the concepts and nuiances of "" Click here to begin!</p>
                </div>
            </div>



        </div>

    </div>
</div>

